/* CSS Styles for DataViz Portfolio */

body {
    width: 100vw;
    font-family: var(--font-primary);
    background-color: var(--background-color);
}

.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid;
    padding: 1rem 0;
}

.nav-links {
    display: flex;
    text-wrap: wrap;
    font-size: 3rem;
}

.nav-links a {
    margin-right: 2rem;
    font-family: var(--font-primary);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.01em;
    text-align: left;
    text-decoration: none;
    color: var(--text-color);
}

.logo {
    margin-left: 2rem;
    font-family: 'Abyssinica SIL';
    font-size: 2rem;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: -0.04em;
    text-align: left;
}

.content {
    padding-top: 3rem;
    text-align: center;
}

.hero img {
    max-width: 100%;
    max-height: 40%;
    object-fit: contain;
    
}

.hero h1 {
    font-family:'BIZ UDPMincho';
    font-size: 120px;
    font-weight: 1;
    line-height: 120px;
    letter-spacing: -0.02em;
    text-align: center;
    margin-top: 12rem;
    width: 70%;
    margin-left: 17%;
}

.layout {
    font-family: var(--font-primary);
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.01em;
    text-align: left;
    background: linear-gradient(171.51deg, rgba(242, 246, 245, 0.7) 43.65%, rgba(25, 51, 45, 0.042) 141.61%);
}

.about {
    width: 100%;
    height: auto;
    padding: 96px 0;
}

.text-container {
    width: 45%;
    margin-left: 2rem;
    font-family: var(--font-primary);
    font-size: 48px;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: -0.01em;
    text-align: left;
    margin-top: 6rem;
    flex-wrap: wrap;
}

.stati {
    display: flex;
    flex-direction: column;
    margin: 0 2rem 0 2rem;
    gap: 17rem;
    padding: 48px 0;
}

.stats-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    justify-content: center;
    max-width: 100%;
    margin-right: 2.5rem;
    flex-wrap: wrap;
    
}

.stat {
    width: 100%;
    text-align: left;
    padding: 16px 0;
    border-top: 1px solid;
    margin-right: 7rem;
}

.stat-value {
    display: block;
    font-family: var(--font-primary);
    font-size: 3rem;
    font-weight: 400;
    color: var(--text-color);
}

.stat-label {
    display: block;
    font-family: var(--font-secondary);
    font-size: 20px;
    font-weight: 400;
    color: var(--text-color);
}

.mc {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.row,
.row-1,
.row-2 {
    display: flex;
    gap: 48px;
    align-items: left;
}

span {
    flex-grow: 1;
    font-family: var(--font-secondary);
    font-size: 20px;
    color: var(--text-color);
    overflow: hidden;
    white-space: nowrap;
}

.grid-background {
    width: 100%;
    background: linear-gradient(to bottom, transparent, #000), url('grid.jpg') no-repeat center/cover;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    gap: 1rem;
    padding: 2rem;
}

.portfolio-item img {
    width: 100%;
    height: auto;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25), 
                0 6px 6px rgba(0, 0, 0, 0.22);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.portfolio-item p {
    margin: 0.5rem 0;
    font-weight: bold;
}

.portfolio-item span {
    font-size: 0.9rem;
    color: #666;
}

.review img {
    width: 100%;
    height: auto;
    margin: 1rem 0;
}

.revcont {
    display: flex;
    gap: 1rem;
}

.lat {
    font-family: var(--font-primary);
    font-size: 48px;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: -0.01em;
    text-align: center;
}

button {
    width: 8rem;
    height: 2.5rem;
    padding: 12px 24px;
    gap: 0px;
    border-radius: 8px;
    border: 1px 0px 0px 0px;
}

.dv {
    font-size: 2rem;
    font-family: 'BIZ UDPMincho', serif;
}

.foot {
    display: flex;
    justify-content: space-between;
    gap: 23rem;
}

@media (max-width: 768px) {
    .hero h1 {
        font-size: 4.7rem;
    }

    .header {
        flex-wrap: wrap;
    }

    .portfolio {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .stats-container {
        width: 50%;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .text-container {
        width: 100%;
    }

    .stats-container {
        flex-wrap: wrap;
        gap: 15px; 
    }

    

    .liscon {
        flex-direction: column;
        align-items: center;
    }

    .liscon1,
    .liscon2 {
        width: 100%;
        text-align: center;
    }

    ul {
        padding-left: 0; 
    }

    .nav-links {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    button{
        width: 80%;
        height: 2.5rem;
        /* padding: 12px 20px; */
        gap: 0px;
        border-radius: 8px;
        border: 1px 0px 0px 0px;
    }
}

.con2 {
    display: flex;
    justify-content: space-between;
}

.con1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: -10rem;
}

.liscon {
    display: flex;
    justify-content: space-between;
    margin-right: 6rem;
    font-size: 1.5rem;
    font-family: 'Gothic A1';
    gap: 4rem;
    line-height: 24px;
    text-align: left;
}

li {
    list-style: none;
    margin: 1.5rem;
}

.stati {
    margin-top: 7rem;
}

.con1 h2 {
    font-size: 2.5rem;
    font-family: 'Gothic A1';
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.con2 h2 {
    font-size: 3rem;
    font-family: 'Gothic A1';
    font-weight: 400;
    line-height: 32px;
    text-align: left;
}





@media (max-width: 480px) {

    .hero h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 1.5rem;
    }

    li {
        font-size: 0.9rem;
    }

    .con2 h2 {
        font-size: 1.5rem;
    }

    .stat {
        flex: 1 1 100%; 
        padding: 15px;
    }

    .stat-value {
        font-size: 1.5rem;
    }

    .stat-label {
        font-size: 0.9rem;
    }

    .con1 h2 {
        font-size: 1.5rem;
    }

    .nav-links {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    button {
        width: 100%;
        height: auto;
        font-size: 1rem;
    }

    .revcont img {
        width: 50%;
        height: auto;
    }

    .portfolio-item img {
        width: 100%;
        height: auto;
    }
    .text-container{
        width: 100%;
        padding-right: 0;
        font-size: 2rem;
    }
}

.reviews h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: 1;
}

.revcont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: -18rem;
    margin-bottom: 2rem;
    padding-left: 2rem;
    
}

.data {
    justify-content: start;
    display: flex;
}

.last {
    border-top: 1px solid #000000;
    flex-direction: row;
}

.lcontainer {
    margin: 3rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media only screen and (max-width: 470px) {
    .con2 h2 {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 1055px) {
    .con2 h2 {
        font-size: 2rem;
    }

    .con1 h2 {
        font-size: 2rem;
    }

    .hero h1{
        font-size: 3rem;
    }

    li{
        font-size: 1.2rem;
    }
    .lcontainer{
        display: block;
        margin-left: 25%;
    }
    button{
        margin-top: 2%;
        margin-left: 7%;
        width: 50%;
        padding: 10px 20px;
        color: #666;
    }
}


.revcont img {
    width: 80%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25), 
    0 6px 6px rgba(0, 0, 0, 0.22);
transition: transform 0.3s ease, box-shadow 0.3s ease;
}

button:hover{
    background-color: #d6d4d4;
}

.portfolio-item img:hover {
    transform: translateY(-10px); /* Slight lift */
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3), 
                0 10px 10px rgba(0, 0, 0, 0.22);
}

.revcont img:hover {

    transform: translateY(-10px); /* Slight lift */
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3), 
                0 10px 10px rgba(0, 0, 0, 0.22);
}